<apex:page StandardController="Adversary_Account__c" recordSetVar="AdversaryAccounts" tabstyle="Adversary_Account__c" extensions="AccountController">
  <apex:form >
    <apex:pageBlock title="All Adversary Accounts">
        <apex:pageMessages id="pageMessage"/>
        <apex:outputPanel id="AccountList">
        <apex:outputText value="No Adversary Account created yet" rendered="{!!showAdvAccounts}"/>
        <apex:pageBlockTable value="{!adversaryAccList}" var="advAcc" rendered="{!showAdvAccounts}">
            <apex:column >
                <a href="/apex/ViewAccount?Id={!advAcc.id}&source=all">{!advAcc.Name__c}</a>
                <apex:facet name="header">Name</apex:facet>
            </apex:column>
            <apex:column value="{!advAcc.Phone__c}">            
                <apex:facet name="header">Phone</apex:facet>
            </apex:column>
            <apex:column value="{!advAcc.Fax__c}">            
                <apex:facet name="header">Fax</apex:facet>
            </apex:column>
            <apex:column value="{!advAcc.Website__c}">            
                <apex:facet name="header">Website</apex:facet>
            </apex:column>
            <apex:column width="10%">
                <apex:outputPanel rendered="{!advAcc.Access__c='All' || advAcc.Access__c='Edit'}">
                    <a href="/apex/EditAccount?Id={!advAcc.id}&source=all">Edit</a>
                    &nbsp;&nbsp;
                    <!-- <a href="/apex/ConfirmAccountDelete?accId={!advAcc.id}&source=all">Del</a> -->
                    <apex:commandLink onclick="if(!confirm('{!$Label.Deactivate_Confirmation} account?')) return false;" value="Deactivate" action="{!deactivateAccount}" reRender="AccountList,pageMessage" >
                        <apex:param name="accId" value="{!advAcc.id}" assignTo="{!accIdToDeActivate}"/> 
                    </apex:commandLink>
                </apex:outputPanel>    
                <apex:facet name="header">Actions</apex:facet>
            </apex:column>
            </apex:pageBlockTable>
            <br/>&nbsp;
            <apex:outputPanel rendered="{!showAllLinkAdvAcc}">
                <a href="/apex/OurTeamRoster">Show All({!advAccCount})</a>
            </apex:outputPanel>
        </apex:outputPanel>
        <apex:pageBlockButtons location="top"> 
                <apex:commandButton value="Create New Adversary Account" action="{!createNewAdversaryAccountAll}"/>
                <apex:commandButton value="Back" action="{!cancel}"/>
        </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
    <c:Copyright />  
</apex:page>