<apex:page controller="NewChecklistController" action="{!getCollaborationData}" renderAs="pdf">
 <!--
           Note: Added style sheet reference and sectionHeaderIconBar on 1/6/2013
           Changes Made By: Andrew Chinn
           Check Style.css in the nassets static resource for details
    -->
    <apex:stylesheet value="{!URLFOR($Resource.nassets, '/css/style.css')}" />
    
     <!--
    Note: Added Lightbox Javascript and link HTML for Training Videos on 1/27/2013
    Changes Made By: Alex Chisholm
 -->
 <script type="text/javascript" src="{!URLFOR($Resource.Lightbox, '/html5lightbox/html5lightbox.js')}"></script>
    
   <!-- <div class="sectionHeaderIconBar">
        <a href="https://www.startwithno.com/negpro/index.php?video=5&sessionId={!$Api.Session_ID}&apiURL={!$Api.Enterprise_Server_URL_260}" class="html5lightbox" data-width="720" data-height="500"><apex:image url="{!URLFOR($Resource.nassets, '/img/video-icon.png')}" title="View Video Tutorial" /></a>&nbsp;
        <a href="https://np4e.na14.visual.force.com/apex/DeepDive?sfdc.tabName=01rd0000000BPz9"><apex:image url="{!URLFOR($Resource.nassets, '/img/deep-dive-icon.jpg')}" title="Deep Dive Training" /></a>&nbsp;
    </div>-->
<apex:sectionHeader title="{!checklist.Name}"/>
<apex:form >
<apex:outputText value="{!$Label.NoAccessPrivilegeMessage}" rendered="{!!hasViewAccess}" style="color:red;"/>
<apex:outputPanel id="full" rendered="{!hasViewAccess}">
<apex:pageMessages />
<apex:pageBlock mode="edit">
<!--<apex:pageBlockButtons >
<apex:commandButton value="Edit" action="{!edit}" rendered="{!hasEditAccess}"/>
<apex:commandButton value="Back" action="{!back}" immediate="true"/>
</apex:pageBlockButtons>-->

<!--<apex:pageBlockSection title="Information" columns="1" showHeader="false">-->

<table cellpadding="10" cellspacing="0" width="100%" >
    <tr>
        <td align="right" style="border-bottom:1px solid gray; white-space:nowrap;">Project</td>
        <td style="border-bottom:1px solid gray; text-align:justify;"><apex:outputField value="{!checklist.Project__r.Name}"/></td>
    </tr>
    <tr>
        <td align="right" style="border-bottom:1px solid gray; white-space:nowrap;">Overall Mission and Purpose</td>
        <td style="border-bottom:1px solid gray;"> <apex:outputField value="{!checklist.Overall_Mission__c}"/></td>
    </tr>
    <tr>
        <td align="right" style="border-bottom:1px solid gray; white-space:nowrap;"><apex:outputPanel > Date Prepared </apex:outputPanel></td>
        <td style="border-bottom:1px solid gray;"><apex:outputField value="{!checklist.Date_Prepared__c}"/></td>
    </tr>
    <tr>
        <td align="right" style="border-bottom:1px solid gray; white-space:nowrap;">Changes To Adversary Situation</td>
        <td style="border-bottom:1px solid gray; text-align:justify;">
           <apex:outputField value="{!checklist.Changes_To_Adversary__c}"/>            
        </td>
    </tr>
    <tr>
        <td align="right" style="border-bottom:1px solid gray; white-space:nowrap;">Critical Research</td>
        <td style="border-bottom:1px solid gray; text-align:justify;">
            <apex:outputField value="{!checklist.Critical_Research__c}"/>         
        </td>
    </tr>
    <tr>
        <td align="right" style="border-bottom:1px solid gray; white-space:nowrap;">Mission and Purpose for This Event</td>
        <td style="border-bottom:1px solid gray; text-align:justify;">            
            <apex:outputField value="{!checklist.Current_Mission__c}"/>
        </td>
    </tr>
    <tr>
        <td align="right" style="border-bottom:1px solid gray; white-space:nowrap;">Problems</td>
        <td style="border-bottom:1px solid gray; text-align:justify;">
            
            <apex:outputField value="{!checklist.Problems__c}"/>          
        </td>
    </tr>
    <tr>
        <td align="right" style="border-bottom:1px solid gray; white-space:nowrap;">Our Baggage</td>
        <td style="border-bottom:1px solid gray; text-align:justify;">            
            <apex:outputField value="{!checklist.Our_Baggage__c}"/>        
        </td>
    </tr>
    <tr>
        <td align="right" style="border-bottom:1px solid gray; white-space:nowrap;">Adversary Baggage</td>
        <td style="border-bottom:1px solid gray; text-align:justify;">            
            <apex:outputField value="{!checklist.Adversary_Baggage__c}"/>          
        </td>
    </tr>
    <tr>
        <td align="right" style="border-bottom:1px solid gray; white-space:nowrap;">What We Want</td>
        <td style="border-bottom:1px solid gray; text-align:justify;">
            
            <apex:outputField value="{!checklist.What_We_Want__c}"/>             
        </td>
    </tr>
    <tr>
        <td align="right" style="border-bottom:1px solid gray; white-space:nowrap;">What Happens Next</td>
        <td style="border-bottom:1px solid gray; text-align:justify;">
            
            <apex:outputField value="{!checklist.What_Happens_Next__c}"/>         
        </td>
    </tr>
    <tr>
        <td align="right" style="border-bottom:1px solid gray; white-space:nowrap;">Team Behavior(Script)</td>
        <td style="border-bottom:1px solid gray; text-align:justify;">
            
            <apex:outputField value="{!checklist.Team_Behavior_Goals__c}"/>
        </td>
    </tr>
    <tr>
        <td align="right" style="border-bottom:1px solid gray; white-space:nowrap;">Team Activity</td>
        <td style="border-bottom:1px solid gray; text-align:justify;">
            {!checklist.Team_Activity__c}
        </td>
    </tr>
</table>
<!--</apex:pageBlockSection>-->

</apex:pageBlock>
</apex:outputPanel>
</apex:form>
<c:Copyright />
</apex:page>